<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="base :: head"></div>

<body>
<div class="container" style="margin-top:200px">

    <div class="row">
        <div class="col-12" style="text-align: center">
            <div th:replace="base :: title"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12" style="text-align: center">
            <div th:replace="base :: navlinks"></div>
        </div>
    </div>
</div>
<div class="container">

    <h1 class="display-4" style="text-align: center"><strong>Edit Cause</strong></h1>
    <hr class="mt-2 mb-5">

    <div class="row text-center">
        <div class="col-12" >

            <form autocomplete="off" action="#" th:action="@{/cause/__${id}__}" th:object="${cause}" method="post">

                <div class="form-group">
                    <span th:if="${#fields.hasErrors('description')}"
                          th:errors="*{description}">Description</span>
                    <textarea id="description" class="form-control" th:field="*{description}"></textarea>
                </div>

                <button type="submit" value="Submit" class="btn btn-lg btn-primary"><strong>Save</strong></button>
            </form>

        </div>
    </div>


</div>

<div style="position:absolute; bottom:0; width:100%;">
    <div th:replace="base :: footer"></div>
</div>

<script th:src="@{https://kit.fontawesome.com/48c5dd92ba.js}" crossorigin="anonymous"></script>
<script th:src="@{https://code.jquery.com/jquery-3.2.1.slim.min.js}"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js}"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js}"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>